<!DOCTYPE html>
<html>
  <head>
    <title>hustle</title>
    <style>
    body {
      font-family: Consolas, Menlo, monospace;
      color: #eee;
      background: #e2f;
    }
    </style>
  </head>
  <body>
    {{ yield }}
  </body>
</html>
