<h1>hustle test</h1>
<script src="pusher.min.js"></script>
<script>
var pusher = new Pusher('foo', {
  wsHost: '{{ .WSPubHost }}',
  wsPort: '{{ .WSPubPort }}',
  // wssPort: '???',
  httpHost: '{{ .HTTPPubHost }}',
  httpPort: '{{ .HTTPPubPort }}',
  // httpsPort: '???',
  httpPath: '/pusher',
  statsHost: '{{ .StatsPubAddr }}',
  authEndpoint: '/pusher/auth',
  authTransport: 'ajax'
}), channel;

Pusher.log = function (data) {
  console.log('\t\t', data);
};

pusher.bind('pusher:error', function (data) {
  alert(data.message);
});

channel = pusher.subscribe('bar');
channel.bind('an_event', function(data) {
  document.body.setAttribute(
    'style', 'background-color: ' + data.color + ';'
  )
});
</script>
