<h1>hustle test</h1>
<script src="pusher.min.js"></script>
<script>
var pusher = new Pusher('test_app', {
  wsHost: '{{ .WSPubHost }}',
  wsPort: '{{ .WSPubPort }}',
  // wssPort: '???',
  httpHost: '{{ .HTTPPubHost }}',
  httpPort: '{{ .HTTPPubPort }}',
  // httpsPort: '???',
  httpPath: '/pusher',
  statsHost: '{{ .StatsPubAddr }}',
  authEndpoint: '/pusher/auth',
  authTransport: 'ajax'
}), channel, color;

Pusher.log = function (data) {
  console.log('\t\t', data);
};

pusher.bind('pusher:error', function (data) {
  alert(data.message);
});

channel = pusher.subscribe('MY_CHANNEL');
channel.bind('client-disco-fun', function(data) {
  console.log('received data for client-disco-fun: %o', data);
  document.body.setAttribute(
    'style', 'background-color: #' + data.color + ';'
  )
});

setInterval(function() {
  color = (Math.random() * 16777216).toString(16).replace('.', '').substring(0, 3);
  try {
    channel.trigger('client-disco-fun', { color: color });
  } catch(e) {
    console.log('error: %o', e);
  }
}, 300);

</script>
